SUPABASE_URL=https://iiujhnyixfpsvbnkvfgv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpdWpobnlpeGZwc3Zibmt2Zmd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NDg3ODksImV4cCI6MjA5MTIyNDc4OX0.4q8XXQwZ8H4W1hPLUmpb0XtutRRDGaLS5GndS9a8ZvY
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpdWpobnlpeGZwc3Zibmt2Zmd2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTY0ODc4OSwiZXhwIjoyMDkxMjI0Nzg5fQ.vaPMX5ENg_EB_uQqLy5tsIcac_PUihdCxHcND3frPCk
BACKEND_PORT=8000
NEXT_PUBLIC_API_URL=/api
